<ul class="nav nav-sidebar" *ngIf="isValid(items)">
  <li *ngFor="let elem of items ; let i = index"
      [ngClass]="{item: !isMenu(elem), menu: isMenu(elem)}"
      routerLinkActive="active">
    <a *ngIf="!isMenu(elem)" class="item-favorite"
        (click)="toggleFavorite(elem)">
      <glyph [icon]="elem.favorite ? 'star' : 'star-empty'"></glyph>
    </a>
    <a *ngIf="!isMenu(elem)" class="item-path" [routerLink]="elem.routePath">
      {{ elem.description }}
    </a>
    <a *ngIf="isMenu(elem)" class="item-description"
        (click)="toggleExpanded(elem)">
      {{ elem.description }}
      <div *ngIf="isMenu(elem)" class="pull-right">
        <glyph [icon]="elem.expanded ? 'menu-up' : 'menu-right'"></glyph>
      </div>
    </a>

    <navigation *ngIf="isMenu(elem)" [hidden]="!elem.expanded"
        [items]="elem.children"></navigation>
  </li>
</ul>
