<div class="row">
  <div class="col-md-1 slim-grid slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
  <div class="col-md-1 slim-grid">
    <div class="wrapped">
      .col-md-1
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 slim-grid">
    <div class="wrapped">
      .col-md-8
    </div>
  </div>
  <div class="col-md-4 slim-grid">
    <div class="wrapped">
      .col-md-4
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 slim-grid">
    <div class="wrapped">
      .col-md-4
    </div>
  </div>
  <div class="col-md-4 slim-grid">
    <div class="wrapped">
      .col-md-4
    </div>
  </div>
  <div class="col-md-4 slim-grid">
    <div class="wrapped">
      .col-md-4
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 slim-grid">
    <div class="wrapped">
      .col-md-6
    </div>
  </div>
  <div class="col-md-6 slim-grid">
    <div class="wrapped">
      .col-md-6
    </div>
  </div>
</div>