<div class="settings">
  <h1 class="header">
    <glyph icon="cog"></glyph> Configurações
  </h1>

  <div class="list-group">
    <a class="list-group-item" (click)="toggleAltoContraste()">
      Alto contraste <check-glyph class="pull-right" [flag]="altoContraste"></check-glyph>
    </a>
    <a class="list-group-item" (click)="toggleInverterCores()">
      Inverter cores <check-glyph class="pull-right" [flag]="inverterCores"></check-glyph>
    </a>
    <a class="list-group-item" (click)="toggleMenuLateral()"
        (sidebarChange)="toggleMenuLateral($event)">
      Menu lateral <check-glyph class="pull-right" [flag]="menuLateral"></check-glyph>
    </a>
    <li class="list-group-item">
      <div class="form-group">
        <label for="opcao" class="control-label">Opção</label>
        <select class="form-control input-sm" id="opcao" name="opcao">
          <option value="">Selecione</option>
        </select>
      </div>
    </li>
  </div>
</div>
