<div class="row">Shadow</div>
<div class="row">
  <div class="col-xs-12 shadow-deep-bg color-display">
    .shadow-deep-bg
  </div>
  <div class="col-xs-12 shadow-darker-bg color-display">
    .shadow-darker-bg
  </div>
  <div class="col-xs-12 shadow-dark-bg color-display">
    .shadow-dark-bg
  </div>
  <div class="col-xs-12 shadow-base-bg color-display">
    .shadow-base-bg
  </div>
  <div class="col-xs-12 shadow-light-bg color-display">
    .shadow-light-bg
  </div>
  <div class="col-xs-12 shadow-lighter-bg color-display">
    .shadow-lighter-bg
  </div>
  <div class="col-xs-12 shadow-shiny-bg color-display">
    .shadow-shiny-bg
  </div>
</div>

<div class="row">Brighter</div>
<div class="row">
  <div class="col-xs-12 bright-deep-bg color-display">
    .bright-deep-bg
  </div>
  <div class="col-xs-12 bright-darker-bg color-display">
    .bright-darker-bg
  </div>
  <div class="col-xs-12 bright-dark-bg color-display">
    .bright-dark-bg
  </div>
  <div class="col-xs-12 bright-base-bg color-display">
    .bright-base-bg
  </div>
  <div class="col-xs-12 bright-light-bg color-display">
    .bright-light-bg
  </div>
  <div class="col-xs-12 bright-lighter-bg color-display">
    .bright-lighter-bg
  </div>
  <div class="col-xs-12 bright-shiny-bg color-display">
    .bright-shiny-bg
  </div>
</div>
