
<app-navbar [brand]="title"></app-navbar>

<div class="container-fluid layout-container"
    [ngClass]="{'full-page': !expandedSidebar}">
  <div class="row">
    <app-sidebar class="sidebar" [ngClass]="{'inverse': inverseColors}"></app-sidebar>
    <div class="main">
      <div [ngClass]="{'container': !expandedSidebar, 'container-fluid': expandedSidebar}">
        <router-outlet ></router-outlet>
      </div>
    </div>
    <app-options-panel class="options-panel"
        [ngClass]="{'expanded': expandedOptions,'inverse': inverseColors}">
    </app-options-panel>
  </div>
</div>
