<div class="nav nav-user">
  <div class="user-img">
    <img src="https://goo.gl/97tYRA" width="64" height="64"
        class="img-responsive img-circle"
        alt="Generic placeholder thumbnail">
  </div>
  <div class="user-detail">
    <p class="user-name">Usuário</p>
    <p class="user-role">Administração</p>
    <p><a href="#">Sair</a></p>
  </div>
</div>

<div class="nav nav-search">
  <div class="form-group has-feedback">
    <input type="text" name="form-control search-box" placeholder="Busca"
        [(ngModel)]="search">
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
  </div>
</div>

<div class="sidebar-tabs">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" [ngClass]="{active: isSelectedTab(0)}">
      <a role="tab" data-toggle="tab" (click)="selectTab(0)">
        <glyph icon="list"></glyph> Navegação
      </a>
    </li>
    <li role="presentation" [ngClass]="{active: isSelectedTab(1)}">
      <a role="tab" data-toggle="tab" (click)="selectTab(1)">
        <glyph icon="star"></glyph> Favoritos
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" role="tabpanel" [ngClass]="{active: isSelectedTab(0)}">
      <sidebar-navigation></sidebar-navigation>
    </div>
    <div class="tab-pane" role="tabpanel" [ngClass]="{active: isSelectedTab(1)}">
      <sidebar-favorites></sidebar-favorites>
    </div>
  </div>
</div>
