<div class="nav nav-user">
  <div class="user-img">
    <img src="https://goo.gl/97tYRA" width="64" height="64"
        class="img-responsive img-circle"
        alt="Generic placeholder thumbnail">
  </div>
  <div class="user-detail">
    <p class="user-name">Usuário</p>
    <p class="user-role">Administração</p>
    <p><a href="#">Sair</a></p>
  </div>
</div>

<div class="nav nav-search">
  <div class="form-group has-feedback">
    <input type="text" name="form-control search-box" placeholder="Busca">
    <i class="glyphicon glyphicon-search form-control-feedback"></i>
  </div>
</div>

<ul class="nav nav-sidebar">
  <li class="item active">
    <a [routerLink]="['/example/full-template']">
      <glyph class="pull-right" icon="list-alt"></glyph> Template
      <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-right"></glyph> Example
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-right"></glyph> Example
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-right"></glyph> Example
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-right"></glyph> Example
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-right"></glyph> Example
    </a>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-up"></glyph> Example
    </a>
    <ul class="nav nav-sidebar">
      <li class="item">
        <a [routerLink]="['/example/grid']">Grid</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/table']">Table</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/buttons']">Buttons</a>
      </li>
    </ul>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-up"></glyph> Example
    </a>
    <ul class="nav nav-sidebar">
      <li class="item">
        <a [routerLink]="['/example/grid']">Grid</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/table']">Table</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/buttons']">Buttons</a>
      </li>
    </ul>
  </li>
  <li class="item">
    <a [routerLink]="['/']">
      <glyph class="pull-right" icon="menu-up"></glyph> Example
    </a>
    <ul class="nav nav-sidebar">
      <li class="item">
        <a [routerLink]="['/example/grid']">Grid</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/table']">Table</a>
      </li>
      <li class="item">
        <a [routerLink]="['/example/buttons']">Buttons</a>
      </li>
    </ul>
  </li>
</ul>
