<div class="nav nav-user">
    <div class="user-img">
        <img src="https://goo.gl/97tYRA"
            width="64" height="64" class="img-responsive img-circle"
            alt="Generic placeholder thumbnail">
    </div>
    <div class="user-detail">
        <p class="user-name">Usuário</p>
        <p class="user-role">Administração</p>
    </div>
</div>

<ul class="nav nav-sidebar">
    <li class="caption">
        <glyph icon="menu-hamburger"></glyph> Menu
    </li>
    <li class="item active">
        <a href="https://getbootstrap.com/examples/dashboard/#">Overview <span class="sr-only">(current)</span></a
    ></li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Nav item again</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">One more nav</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Another nav item</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Nav item again</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">One more nav</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Another nav item</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Nav item again</a>
    </li>
    <li class="item">
        <a href="https://getbootstrap.com/examples/dashboard/">Example</a>
    </li>
    <li class="item">
        <ul class="nav nav-sidebar">
            <li class="item">
                <a [routerLink]="['/example/grid']">Grid</a>
            </li>
            <li class="item">
                <a [routerLink]="['/example/table']">Table</a>
            </li>
            <li class="item">
                <a [routerLink]="['/example/buttons']">Buttons</a>
            </li>
        </ul>
    </li>
</ul>
