$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

$brand-primary:         #4f91ab !default;
$brand-success:         #50ac53 !default;
$brand-info:            #89c1d6 !default;
$brand-warning:         #e0b052 !default;
$brand-danger:          #cf453d !default;

@import "assets/_variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "assets/_bootswatch.scss";

@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', transparentize($state-success-bg, 0.6));
@include table-row-variant('info', transparentize($state-info-bg, 0.6));
@include table-row-variant('warning', transparentize($state-warning-bg, 0.6));
@include table-row-variant('danger', transparentize($state-danger-bg, 0.6));

@mixin background-transition {
  $transition-properties: background-color 0.5s, color 0.5s linear;
  -webkit-transition: $transition-properties;
  -moz-transition: $transition-properties;
  -ms-transition: $transition-properties;
  transition: $transition-properties;
}

$shadow-base:            #696969 !default;
$shadow-darker:          darken($shadow-base, 15%) !default;
$shadow-dark:            darken($shadow-base, 10%) !default;
$shadow-light:           lighten($shadow-base, 10%) !default;
$shadow-lighter:         lighten($shadow-base, 15%) !default;

@mixin shadow-base {
  background-color: $shadow-base;
  color: #E0E0E0;
}
@mixin shadow-darker {
  background-color: $shadow-darker;
  color: #E4E4E4;
}
@mixin shadow-dark {
  background-color: $shadow-dark;
  color: #E8E8E8;
}
@mixin shadow-light {
  background-color: $shadow-light;
  color: #EBEBEB;
}
@mixin shadow-lighter {
  background-color: $shadow-lighter;
  color: #EEE;
}

$bright-base:            #BFBFBF !default;
$bright-darker:          darken($bright-base, 15%) !default;
$bright-dark:            darken($bright-base, 10%) !default;
$bright-light:           lighten($bright-base, 10%) !default;
$bright-lighter:         lighten($bright-base, 15%) !default;

@mixin bright-base {
  background-color: $bright-base;
  color: #333;
}
@mixin bright-darker {
  background-color: $bright-darker;
  color: #383838;
}
@mixin bright-dark {
  background-color: $bright-dark;
  color: #404040;
}
@mixin bright-light {
  background-color: $bright-light;
  color: #444;
}
@mixin bright-lighter {
  background-color: $bright-lighter;
  color: #484848;
}

.color-display {
  padding: 10px 15px;
}

.shadow-base-bg {
  @include shadow-base;
}
.shadow-darker-bg {
  @include shadow-darker;
}
.shadow-dark-bg {
  @include shadow-dark;
}
.shadow-light-bg {
  @include shadow-light;
}
.shadow-lighter-bg {
  @include shadow-lighter;
}

.bright-base-bg {
  @include bright-base;
}
.bright-darker-bg {
  @include bright-darker;
}
.bright-dark-bg {
  @include bright-dark;
}
.bright-light-bg {
  @include bright-light;
}
.bright-lighter-bg {
  @include bright-lighter;
}

/* You can add global styles to this file, and also import other style files */
/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
  height: 100%;
}

.layout-container {
  padding-top: 50px;

  @media (max-width: 768px) {
    padding-top: 95px;
  }
}
/*
* Global add-ons
*/
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
  border: 0;
}

.navbar-dashboard {
  @include shadow-dark;
  font-size: 12px;

  .navbar-header {
    @include shadow-darker;
    float: left;
    padding: 0 15px;
    width:  100%;

    @media (max-width: 768px) {
      margin: 0;
    }
    @media (min-width: 768px) {
      width: 256px;
    }
  }
  .navbar-brand {
    color: #DDD;
    font-size: 18px;

    &:hover {
      color: #CCC;
    }
  }
  .navbar-collapse {
    padding-left: 5px;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-right {
    margin-right: 0;
  }
  .toggle-control {
    float: left;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    font-size: 18px;
    // border-radius: 5px;
    // background-color: #555;
    vertical-align: middle;
    color: #DDD;
  }

  .navbar-nav > li.active > a {
    @include shadow-darker;

    &:hover, &:focus {
      @include shadow-base;
    }
  }
  .nav-breadcrumb {
    @include shadow-dark;
    height: 50px;

    .breadcrumb {
      border-color: transparent;
      position: relative;
      display: block;
      width: auto;
      padding: 5px 10px;
      line-height: 40px;
      margin-bottom: 0;
      list-style: none;
      background: none;
      border-radius: 0;

      a {
        font-weight: bold;
        color: #BBB;

        &:hover {
          color: #CCC;
        }
      }
    }

    @media (max-width: 768px) {
      height: 30px;
      float: left;
      width: 100%;
      display: block;
      padding: 0 10px;

      .breadcrumb {
        line-height: 20px;
      }
    }
  }
  &.inverse {
    @include bright-light;
    box-shadow: 0px 3px 5px 0 rgba(0,0,0,.2);

    .navbar-brand {
      color: #777;
    }
    .navbar-header {
      @include bright-lighter;
    }
    .toggle-control {
      color: #222;
    }
    .navbar-nav > li > a {
      color: #666;
    }
    .navbar-nav > li.active > a {
      @include bright-lighter;

      &:hover, &:focus {
        @include bright-base;
      }
    }
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus {
      color: #444;
    }
    .nav-breadcrumb {
      @include bright-light;

      .breadcrumb {
        a {
          color: #555;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}

/*
* Sidebar
*/
.layout-container {
  /* Hide for mobile, show later */
  .sidebar {
    @include shadow-dark;
    float: left;
    position: relative;
    display: block;
    -webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;
    z-index: 1;
    max-height: 100%;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    @media (min-width: 768px) {
      width: 256px;
      height: 100%;
      bottom: 0;
      left: 0;
      padding: 0;
      font-size: 12px;
    }

    @media (max-width: 768px) {
      z-index: 3;
      position: fixed;
      height: auto;
      width: 100%;
      -webkit-transition: height 0.3s; /* Safari */
      transition: height 0.3s;
    }

    /* sidebar user info */
    .nav-user {
      @include shadow-dark;
      float: left;
      width: 100%;
      height: 90px;
      max-height: 90px;
      padding: 10px;
      /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3)  ;*/
      border-bottom: 1px solid #666;
      text-align: center;
      display: table;

      .user-img {
        display: table-cell;
        float: left;
        width: 30%;
      }
      .user-detail {
        display: table-cell;
        float: left;
        width: 70%;

        .user-name {
          font-size: 18px;
          font-weight: bold;
        }
        .user-role {
          font-size: 11px;
        }
        p {
          line-height: 1;
          margin-bottom: 7px;
        }
        a {
          color: #333;
          font-weight: bold;
        }
      }
    }

    /* sidebar search */
    .nav-search {
      @include shadow-dark;
      float: left;
      width: 100%;
      height: 45px;
      max-height: 45px;
      margin: 0;
      padding: 0px;
      /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3)  ;*/
      border-bottom: 1px solid #666;
      text-align: center;
      display: table;

      > .form-group {
        padding: 5px;
        margin-bottom: 0;

        input {
          @include shadow-darker;
          display: block;
          width: 100%;
          height: 35px;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
        }

        .form-control-feedback {
          height: 45px;
          line-height: 45px;
        }
      }
    }

    .sidebar-tabs {
      float: left;
      width: 100%;
      height: calc(100% - 136px);

      .nav-tabs {
        height: 38px;
      }

      .tab-content {
        float: left;
        width: 100%;
        max-height: calc(100% - 38px);
        overflow-y: auto;

        .tab-pane {
          float: left;
          width: 100%;
          height: 100%;
        }
      }
    }

    /* Sidebar navigation */
    .favorites .nav-sidebar {
      li > a {
        @include shadow-dark;
      }
    }
    .nav-sidebar {
      @include shadow-dark;
      float: left;
      width: 100%;
      height: 100%;
      /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);*/

      li {
        float: left;
        width: 100%;
        padding: 0;
        color: #AAA;
        font-weight: bold;
        border-radius: 0px;
        border-bottom: 1px solid #555;

        > a {
          @include shadow-dark;
          border: none;
          display: inline-block;

          &.item-favorite {
            @include shadow-base;
            float: left;
            width: 30px;

            &:hover {
              background-color: transparent;
            }
          }

          &.item-path {
            float: left;
            width: calc(100% - 30px);
          }

          &.item-description {
            float: left;
            width: 100%;
            background: linear-gradient(#DDD, #D9D9D9);
          }
        }
        a {
          padding: 5px 10px;
          color: #ddd;

          &:hover,
          &:focus {
            @include shadow-base;
            color: orange;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
          }
        }
        &.active {
          a {
            @include shadow-light;
            color: orange;
          }
          a:hover {
            @include shadow-lighter;
            color: orange;
          }
          a:focus {
            @include shadow-base;
            color: orange;
          }
        }

        .nav-sidebar {
          @include shadow-lighter;
        }
      }

      > .nav-sidebar {
        height: calc(100% - 136px);
        max-height: calc(100% - 136px);
        overflow-y: auto;
      }
    }



    /* Inverse sidebar colors */
    &.inverse {
      @include bright-lighter;

      /* sidebar user info */
      .nav-user {
        @include bright-light;
        border-bottom: 1px solid $bright-base;
      }

      /* sidebar search */
      .nav-search {
        @include bright-light;
        border-bottom: 1px solid $bright-base;

        > .form-group {
          input {
            @include bright-base;
          }
          .form-control-feedback {
            color: #444;
          }
        }
      }

      /* Sidebar navigation */
      .nav-sidebar {
        @include bright-base;

        li {
          color: #555;
          border-bottom: 1px solid #CCC;

          > a {
            &.item-favorite {
              @include bright-base;

              &:hover {
                @include bright-dark;
              }
            }
          }
          a {
            @include bright-light;

            &:hover,
            &:focus {
              background-color: transparent;
            }
          }
          &.active {
            a {
              @include bright-light;

              &.item-favorite {
                @include bright-base;
                color: #333;

                &:hover {
                  @include bright-dark;
                }
              }
            }
            a:hover {
              @include bright-lighter;
            }
            a:focus {
              @include bright-base;
            }
          }

          .nav-sidebar {
            @include bright-lighter;
          }
        }
      }
    }
  }

  &.full-page {
    .sidebar {
      width: 0;

      @media (max-width: 768px) {
        height: 0;
        width: 100%;
      }

      > .nav-user {
        display: none;
      }

      > .nav-search {
        display: none;
      }

      > .sidebar-tabs {
        display: none;
      }
    }
  }

  .tab-content, .tab-pane,  .tab-pane > .nav.nav-sidebar  {
    @media (max-width: 768px) {
      float: left;
      width: 100%;
    }
  }
}

/*
* Main content
*/
.main {
  float: left;
  position: relative;
  display: block;
  -webkit-transition: width 0.4s; /* Safari */
  transition: width 0.4s;
  z-index: 1;
}

.layout-container .main {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 15px;
  background-color: #F1F1F1;
}
.layout-container .main .page-header {
  margin-top: 0;
}

@media (min-width: 768px) {
  .layout-container .main {
    padding-right: 40px;
    padding-left: 40px;
    width: calc(100% - 256px);
  }
  .layout-container.full-page .main {
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .layout-container .main {
    z-index: 1;
  }
}

/*
* Placeholder dashboard ideas
*/
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.layout-container, .layout-container > .row {
  height: 100%;
}
.layout-block {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-container {
  .options-panel, .sidebar {
    .nav-justified {
      > li {
        @media (max-width: 768px) {
          display: table-cell;
          width: 1%;
        }
      }
    }
    .nav-tabs, .nav-justified {
      @include shadow-dark;
      float: left;

      > li {
        margin: 0;
        border-radius: 0;

        > a {
          @include shadow-light;
          margin: 0;
          border-radius: 0;
          padding: 10px 15px;
          border: none;

          &:hover {
            @include shadow-base;
            padding: 10px 15px;
            border: none;
          }
        }
        &.active > a {
          @include shadow-dark;
          padding: 10px 15px;
          border: none;
          color: orange;

          &:hover, &:focus {
            @include shadow-base;
            padding: 10px 15px;
            border: none;
          }
        }
      }
    }
    &.inverse {
      .nav-tabs, .nav-justified {
        @include bright-lighter;

        > li {
          > a {
            @include bright-base;

            &:hover, &:focus {
              @include bright-light;
            }
          }
          &.active > a {
            @include bright-lighter;
            color: #c10d0d;

            &:hover {
              @include bright-light;
              color: #c12a2a;
            }
          }
        }
      }
    }
  }
}

.layout-container {
  .options-panel {
    @include shadow-dark;
    position: fixed;
    width: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    border-left: 2px solid #333;
    -webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;

    .options-panel-body {
      height: 100%;
      max-height: 100%;
      overflow-y: auto;

      .tab-content {
        float: left;
        width: 100%;
      }
    }

    &.expanded {
      width: 256px;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .header {
      float: left;
      width: 100%;
      height: 40px;
      line-height: 35px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #666;
      color: #CCC;
      margin: 0;
    }

    .footer {
      bottom: 0;
      float: left;
      width: 100%;
      height: 30px;
      padding: 5px;
      line-height: 20px;
      vertical-align: middle;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      border-top: 1px solid #666;
      margin: 0;

      a, a:hover, a:focus {
        color: #CCC;
      }
    }

    .list-group {
      @include shadow-base;
      float: left;
      width: 100%;
      border: none;
      border-radius: 0;
      margin: 0;

      .list-group-item {
        @include shadow-base;
        float: left;
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #666;
        margin-bottom: 1px;

        .form-control {
          @include shadow-dark;
          border: none;
        }
      }
    }

    .profile {
      @include shadow-dark;
      float: left;
      width: 100%;
      height: 90px;
      max-height: 90px;
      padding: 10px;
      /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3)  ;*/
      border-bottom: 1px solid #666;
      text-align: center;
      display: table;

      .user-img {
        display: table-cell;
        float: left;
        width: 100%;
      }
      .user-detail {
        display: table-cell;
        float: left;
        width: 100%;

        .user-name {
          font-size: 18px;
          font-weight: bold;
        }
        .user-role {
          font-size: 11px;
        }
        p {
          line-height: 1;
          margin-bottom: 7px;
        }
        a {
          color: #333;
          font-weight: bold;
        }
      }
    }

    &.inverse {
      @include bright-light;
      border-left: 2px solid #CCC;

      .header {
        border-bottom: 1px solid #999;
        color: #333;
      }
      .footer {
        border-top: 1px solid #999;
        margin: 0;

        a, a:hover, a:focus {
          color: #666;
        }
      }
      .profile {
        @include bright-base;
      }
      .list-group {
        @include bright-base;

        .list-group-item {
          @include bright-base;
          border-bottom: 1px solid #999;

          .form-control {
            @include bright-light;
          }
        }
      }
    }
  }
}
