$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import "assets/_variables.scss";
@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "assets/_bootswatch.scss";

@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', transparentize($state-success-bg, 0.6));
@include table-row-variant('info', transparentize($state-info-bg, 0.6));
@include table-row-variant('warning', transparentize($state-warning-bg, 0.6));
@include table-row-variant('danger', transparentize($state-danger-bg, 0.6));


/* You can add global styles to this file, and also import other style files */
/*
* Base structure
*/

/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
  height: 100%;
}
body {
  padding-top: 50px;
  /*height: calc(100% - 50px);*/
}
/*
* Global add-ons
*/
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
  border: 0;
}

.navbar-dashboard {
  background-color: #444;
  font-size: 12px;
}
.navbar-dashboard .navbar-header {
  float: left;
  padding: 0 15px;
  width: 100%;
  background-color: #333;
}
.navbar-dashboard .navbar-brand {
  font-size: 18px;
}
.navbar-dashboard .navbar-collapse {
  padding-left: 5px;
}
.navbar-dashboard .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.navbar-dashboard .form-control {
  border: none;
  background-color: #555;
  color: #DDD;
}
.navbar-dashboard .navbar-right {
  margin-right: 0;
}
.navbar-dashboard .navbar-nav > li > a:hover,
.navbar-dashboard .navbar-nav > li > a:focus {
    color: #BBB;
    background-color: transparent;
}
.navbar-dashboard .toggle-sidebar {
  float: left;
  height: 30px;
  margin: 10px 0;
  padding: 5px;
  font-size: 18px;
  // border-radius: 5px;
  // background-color: #555;
  vertical-align: middle;
  color: #DDD;
}
.navbar-dashboard .nav-breadcrumb {
  height: 50px;

  .breadcrumb {
    border-color: transparent;
    position: relative;
    display: block;
    width: auto;
    padding: 5px 10px;
    line-height: 40px;
    margin-bottom: 0;
    list-style: none;
    background: none;
    border-radius: 0;

    a {
      font-weight: bold;
      color: #AAA;

      &:hover {
        color: #CCC;
      }
    }
  }
}


@media (min-width: 768px) {
  .navbar-dashboard .navbar-header {
    width: 256px;
  }
}
/*
* Sidebar
*/

/* Hide for mobile, show later */
.sidebar {
  float: left;
  position: relative;
  display: block;
}
.layout-container .sidebar {
  overflow: hidden;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
}
.layout-container.full-page .sidebar {
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
  width: 0;
}
@media (min-width: 768px) {
  .layout-container .sidebar {
    width: 256px;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #444;
    // background-image: url("assets/sidebar-bg.png");
    color: #BBB;
    font-size: 12px;
  }
  .layout-container.full-page .sidebar {
    width: 0;
  }
}

.nav-user {
  float: left;
  width: 100%;
  height: 90px;
  max-height: 90px;
  padding: 10px;
  background-color: rgba(80,80,80,.7);
  /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3)  ;*/
  border-bottom: 1px solid #666;
  text-align: center;
  display: table;
}
.nav-user .user-img {
  display: table-cell;
  float: left;
  width: 30%;
}
.nav-user .user-detail {
  display: table-cell;
  float: left;
  width: 70%;
}
.nav-user p {
  line-height: 1;
  margin-bottom: 7px;
}

.nav-user .user-detail .user-name {
  font-size: 18px;
  font-weight: bold;
}
.nav-user .user-detail .user-role {
  font-size: 11px;
}

.nav-search {
  float: left;
  width: 100%;
  height: 45px;
  max-height: 45px;
  margin: 0;
  padding: 0px;
  background-color: rgba(80,80,80,.7);
  /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3)  ;*/
  border-bottom: 1px solid #666;
  text-align: center;
  display: table;

  > .form-group {
    margin-bottom: 0;

    input {
      display: block;
      width: 100%;
      height: 45px;
      padding: 5px 10px;
      border: none;
      background-color: #444;
      color: #AAA;
      border-radius: 0;
    }

    .form-control-feedback {
      height: 45px;
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  float: left;
  width: 100%;
  height: 100%;
  background-color: rgba(80,80,80,.8);
  /*box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);*/
}
.layout-container .sidebar > .nav-sidebar {
  height: calc(100% - 136px);
  max-height: calc(100% - 136px);
  overflow-y: auto;
}
.nav-sidebar > li.item {
  float: left;
  width: 100%;
}
.nav-sidebar > li.item .nav-sidebar {
  background-color: #626262;
  background-color: rgba(90,90,90,.7);
}

.nav-sidebar > li.caption {
  padding: 10px 20px;
  font-size: 10px;
  color: #AAA;
  font-weight: bold;
}
.nav-sidebar > li.item {
  padding: 0;
  // font-size: 10px;
  color: #AAA;
  font-weight: bold;
}
.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
  color: #ddd;
  border-bottom: 1px solid #666;
}

.nav-sidebar > li {
  border-radius: 0px;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus {
  color: orange;
  background-color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}
.nav-sidebar > .active > a {
  color: #ddd;
  background-color: #777;
}

.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: orange;
  background-color: #777;
}


/*
* Main content
*/

.layout-container .main {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 15px;
  background-color: #F9F9F9;
  -webkit-transition: width 0.3s; /* Safari */
  transition: width 0.3s;
}

@media (min-width: 768px) {
  .layout-container .main {
    padding-right: 40px;
    padding-left: 40px;
    width: calc(100% - 256px);
  }
  .layout-container.full-page .main {
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
  }
}
.layout-container .main .page-header {
  margin-top: 0;
}

/*
* Placeholder dashboard ideas
*/
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.layout-container, .layout-container > .row {
  height: 100%;
}
.layout-block {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
