<nav class="navbar navbar-dashboard navbar-fixed-top"
    [ngClass]="{'inverse': inverseColors}">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <b>{{brand}}</b>
      </a>
      <span class="pull-right">
        <a class="toggle-control" (click)="toggleSidebar()">
          <glyph icon="menu-hamburger"></glyph>
        </a>
        <a class="toggle-control visible-xs hidden-sm"
            (click)="toggleOptions()" title="Opções">
          <glyph icon="cog"></glyph>
        </a>
      </span>
    </div>

    <div class="nav navbar-nav nav-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a (click)="toggleOptions()" title="Opções">
            <glyph icon="cog"></glyph> <b>Opções</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
