<nav class="navbar navbar-inverse navbar-dashboard navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">
        <b>{{brand}}</b>
      </a>

      <span class="pull-right">
        <a class="toggle-sidebar" (click)="toggleSidebarExpand()">
          <glyph icon="menu-hamburger"></glyph>
        </a>
      </span>
    </div>

    <div class="nav navbar-nav nav-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
      </ol>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a (click)="toggleSettingsExpand()">
            <glyph icon="cog"></glyph> <b>Configurações</b>
          </a>
        </li>
        <li dropdown>
          <a href id="simple-dropdown" dropdownToggle>
            <glyph icon="list-alt"></glyph> <b>Opções</b>
          </a>
          <ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li>
              <a [routerLink]="['/user']">
                <glyph icon="user"></glyph> Usuário
              </a>
            </li>
            <li class="active">
              <a [routerLink]="['/logout']">
                <glyph icon="log-out"></glyph> Sair
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
