<nav class="navbar navbar-inverse navbar-dashboard navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <b>{{brand}}</b>
      </a>
      <span class="pull-right">
        <a href class="toggle-sidebar">
          <i class="glyphicon glyphicon-menu-hamburger"></i>
        </a>
      </span>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-form">
        <li><input type="text" class="form-control" placeholder="Search..."></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/user']">
            <i class="glyphicon glyphicon-user"></i> Usuário
          </a>
        </li>
        <li>
          <a [routerLink]="['/user']">
            <i class="glyphicon glyphicon-cog"></i> Opções
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>